:root {
    font-size: 10px;
    --main-color: #d3ad7f;
    --black: #131313;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    /* Impede rolagem lateral */
}

.caixa-video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
}

.caixa-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--bg);
    border-bottom: var(--border);
    width: 100%;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: relative;
}

.header section a img {
    height: 4rem;
}

.header section nav a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: white;
    transition: 0.4s linear;
}

.header section nav a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.caixa-principal {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caixa-principal div h3 {
    color: #fff;
    font-size: 6rem;
    text-transform: uppercase;
}

.caixa-principal div p {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1rem 0;
    line-height: 1.8;
}

.botao-link {
    background-color: var(--main-color);
    cursor: pointer;
    margin-top: 2rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 3rem;
    border: none;
    transition: 0.3s linear;
}

.titulo {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.titulo span {
    color: var(--main-color);
}

.caixa-sobre .sobre-container {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.caixa-sobre .sobre-container .sobre-imagem {
    flex: 1 1 45rem;
}

.caixa-sobre .sobre-container .sobre-imagem img {
    width: 100%;
}

.caixa-sobre .sobre-container .sobre-texto {
    flex: 1 1 45rem;
    padding: 2rem;
}

.caixa-sobre .sobre-container .sobre-texto h3 {
    font-size: 3rem;
    color: #fff;
}

.caixa-sobre .sobre-container .sobre-texto p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #fff;
    line-height: 1.8;
    padding: 1rem 0;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: rgba(29, 28, 28, 0.95);
    padding: 2rem;
    border-radius: 5px;
    gap: 20px;
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    min-height: 400px;
    height: auto;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.modal iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.mascara-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

@media (max-width: 1200px) {
    .caixa-video {
        height: calc(100vh - 60px);
        /* Subtrai a altura da barra de navegação (60px é a altura padrão da barra de navegação) */
    }

    .caixa-video video {
        height: 100%;
        object-position: top;
    }
}

@media (max-width: 920px) {
    .caixa-principal div h3 {
        font-size: 4rem;
    }

    .caixa-principal div p {
        font-size: 1.6rem;
    }

    .botao-link {
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }

    .caixa-sobre .sobre-container {
        flex-direction: column;
        gap: 2rem;
    }

    .caixa-sobre .sobre-container .sobre-imagem {
        display: none;
    }
}

@media (min-width: 920px) {
    .modal {
        width: 60%;
        min-height: 300px;
    }

    .modal iframe {
        height: 70%;
        /* Ajusta a altura do iframe para 70% da altura do modal em telas grandes */
    }
}

@media (max-width: 425px) {
    .modal {
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 430px) {
    /* Ajuste da altura do cabeçalho para que os itens não fiquem amontoados */
    .header {
        padding: 0.5rem 1rem;
    }

    .header section {
        display: flex;
        align-items: center; /* Centraliza o conteúdo */
        justify-content: space-between;
        gap: 1rem;
    }

    .header section a img {
        height: 3rem; /* Reduz o tamanho do logo */
    }

    /* o menu de navegação será oculto em telas pequenas e terá um fundo transparente*/
    #nav-menu{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(1, 1, 3, 0.85);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 1rem;
        border-top: var(--border);
        z-index: 3;
        transition: opacity 0.3s ease;
    }

    #nav-menu a {
        color: white;
        font-size: 1.4rem;
        padding: 1rem;
        text-align: center;
        border-bottom: var(--border);
    }

    #nav-menu a:hover {
        color: var(--main-color);
        border-bottom: 0.1rem solid var(--main-color);
    }

    .menu-recolhivel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
    }

    .menu-recolhivel span {
        background-color: white;
        height: 4px;
        width: 100%;
        border-radius: 2px;
    }

    .header section nav {
        display: flex;
        flex-direction: column; /* Faz os itens de navegação ficarem empilhados */
        align-items: center;
        gap: 1rem;
    }

    .header section nav a {
        font-size: 1.4rem; /* Diminui o tamanho das fontes do menu */
        color: white;
        transition: 0.3s linear;
        padding: 0.5rem 0;
    }

    .header section nav a:hover {
        color: var(--main-color);
        border-bottom: 0.1rem solid var(--main-color);
    }

    /* Ajuste no conteúdo principal (caixa-principal) para adaptar ao tamanho */
    .caixa-principal div h3 {
        font-size: 4rem; /* Ajusta o tamanho da fonte */
    }

    .caixa-principal div p {
        font-size: 1.4rem; /* Diminui a fonte do texto */
    }

    .botao-link {
        font-size: 1.4rem; /* Ajuste da fonte do botão */
        padding: 1rem 2rem;
    }

    /* Ajustes na seção 'Sobre' */
    .caixa-sobre .sobre-container {
        flex-direction: column;
        gap: 2rem;
    }

    .caixa-sobre .sobre-container .sobre-imagem {
        display: none; /* Oculta a imagem em telas pequenas */
    }

    .caixa-sobre .sobre-container .sobre-texto {
        flex: 1;
        padding: 2rem;
    }

    .caixa-sobre .sobre-container .sobre-texto h3 {
        font-size: 2.5rem; /* Ajuste do tamanho do título */
    }

    .caixa-sobre .sobre-container .sobre-texto p {
        font-size: 1.4rem;
    }

    /* Ajustes para o modal e mapa */
    .modal {
        width: 90%; /* Modal vai ocupar 90% da tela */
        min-height: 250px; /* Altura mínima ajustada */
    }

    .modal iframe {
        height: 70%; /* Ajusta o tamanho do iframe */
    }
    
    .mascara-modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        visibility: hidden;
        opacity: 1;
        transition: visibility 0.3s, opacity 0.3s;
    }
}